---
layout: default
title: About
page_name: about
---
 

<h1>About Me</h1>

<p>My name is vifoggy.</p>

<p>最新文章</p>
　　<ul>
　　　　{% for post in site.posts %}
　　　　　　<li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
　　　　{% endfor %}
　　</ul>

<div id='index'>
{% for post in paginator.posts %}
  <div class="post">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

    {{ post.content }}

    <small class="meta">{{ post.date | date:"%B %d, %Y" }} | <a href='{{ post.url }}#disqus_thread'>View Comments</a></small>
  </div>
{% endfor %}
</div>
